$colorBlack: #000;
$colorWhite: #fff;
$colorGrey2: rgb(146, 140, 140);
$colorGrey: rgb(82, 82, 82);
$colorBlue: rgb(98, 190, 243);
$colorGreen: rgb(30, 192, 130);
$bordStd: 1px solid $colorGrey2;
$boxShadow: 0 0 15px 5px $colorGrey2;
$bordRad: 30px;
