@import "./service/variable.scss";

.game {
  display: flex;
  flex-direction: column;
  width: 450px;

  & > h1 {
    font-size: 15pt;
    margin: 15px auto 10px;
  }

  & > h2 {
    font-size: 10pt;
    margin: 0px auto 10px;
  }
}

.game_board {
  margin: 20px auto;
}

.board_row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid rgb(0, 0, 0);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  color: rgb(0, 0, 0);
}

.winner {
  background-color: #ffff00;
}

.ordinary {
  background-color: rgb(10, 162, 233);
}

.game_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px auto;
  font-size: 20px;
  font-weight: 800;
}

.game_info_status {
  width: 180px;
  margin-left: 5px;
  text-align: center;
  font-size: 15pt;
}

.start_game {
  width: 130px;
  margin-right: 10px;
  text-align: center;
}

.start_game_hidden {
  opacity: 0;
}

.game_table {
  background-color: black;
  margin: 5px auto;
  border: 2px solid $colorGreen;

  & > thead > tr > th {
    border: 1px solid $colorGreen;
    text-align: center;
    font-weight: 800;
    padding: 3px;
  }

  & > tbody > tr > td {
    border: 1px solid $colorGreen;
    text-align: center;
    font-weight: 800;
    padding: 3px;

    & > a {
      text-decoration: none;
    }
  }
}

.game_table_th {
  width: 150px;
}

.game_table_span {
  margin-right: 10px;
}

.game_table_sort {
  cursor: pointer;
}

.game_table_button {
  border: 1px solid $colorGrey2;
  background-color: $colorGreen;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 15px;
}

#sortUp > g,
#sortDown > g {
  fill: #0ee8f8;
}
