@import "variable";

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid rgb(0, 0, 0);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  color: rgb(0, 0, 0);
}

.winner {
  background-color: #ffff00;
}

.ordinary {
  background-color: rgb(10, 162, 233);
}

.game {
  display: flex;
  flex-direction: column;
  width: 450px;

  & > h1 {
    font-size: 15pt;
    margin: 15px auto 10px;
  }

  & > h2 {
    font-size: 10pt;
    margin: 0px auto 10px;
  }
}

.game-board {
  margin: 20px auto;
}

.game-table-span {
  margin-right: 10px;
}

.game-table-sort {
  cursor: pointer;
}

.game-table-th {
  width: 150px;
}

.game-table-button {
  border: 1px solid $colorGrey2;
  background-color: $colorGreen;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 15px;
}

.game-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px auto;
  font-size: 20px;
  font-weight: 800;
}

.game-info-status {
  width: 180px;
  margin-left: 5px;
  text-align: center;
  font-size: 15pt;
}

.start-game {
  width: 130px;
  margin-right: 10px;
  text-align: center;
}

.start-game-hidden {
  opacity: 0;
}

table {
  background-color: black;
  margin: 5px auto;
  border: 2px solid $colorGreen;
}
th,
td {
  border: 1px solid $colorGreen;
  text-align: center;
  font-weight: 800;
  padding: 3px;
}

td > a {
  text-decoration: none;
}

#sortUp > g,
#sortDown > g {
  fill: #0ee8f8;
}
