* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

.keyboard {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  border: 1px solid grey;
  box-shadow: 0px 5px 15px rgb(146, 140, 140);
  border-radius: 30px;
  margin: 50px auto;
  width: 700px;
  height: 300px;
}
.keyboard .up-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 660px;
  height: 20px;
  margin: 15px auto;
}
.keyboard .up-panel .leftPanel {
  display: flex;
}
.keyboard .up-panel .leftPanel .mouseBtn {
  background-color: rgb(82, 82, 82);
  border: 1px solid grey;
  border-radius: 30px;
  width: 26px;
  height: 24px;
  margin-top: -3px;
  padding-top: 2px;
}
.keyboard .up-panel .leftPanel .soundBtn {
  background-color: rgb(82, 82, 82);
  border: 1px solid grey;
  margin-left: 25px;
  border-radius: 30px 0px 0px 30px;
  width: 50px;
}
.keyboard .up-panel .leftPanel .homeBtn {
  background-color: rgb(82, 82, 82);
  border: 1px solid grey;
  margin-left: 2px;
  width: 50px;
}
.keyboard .up-panel .leftPanel .blockBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(82, 82, 82);
  border: 1px solid grey;
  margin-left: 2px;
  border-radius: 0px 30px 30px 0px;
  width: 50px;
}
.keyboard .up-panel .leftPanel .blockBtn p {
  font-size: 5.5pt;
}
.keyboard .up-panel .leftPanel .offBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(82, 82, 82);
  border: 1px solid grey;
  margin-left: 25px;
  border-radius: 30px;
  width: 50px;
}
.keyboard .up-panel .leftPanel .offBtn p {
  font-size: 5.5pt;
}
.keyboard .up-panel .rightPanel {
  display: flex;
  margin-right: 24px;
  margin-top: 37px;
}
.keyboard .up-panel .rightPanel .emblem {
  display: flex;
  align-self: flex-end;
}
.keyboard .up-panel .rightPanel .emblem p {
  margin-left: 5px;
  font-size: x-large;
}
.keyboard .down-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 660px;
  height: 210px;
  margin: 15px auto;
}
.keyboard .down-container .central-panel {
  display: flex;
  flex-direction: column;
  width: 516px;
  height: 210px;
  margin-left: -8px;
}
.keyboard .down-container .central-panel .block-1-Esc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 516px;
  height: 25px;
}
.keyboard .down-container .central-panel .block-1-Esc .btnClassF {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  background-color: rgb(82, 82, 82);
  border: 1px solid grey;
  border-radius: 3px;
  padding-left: 6px;
  width: 32px;
  height: 23px;
  margin-right: 2px;
}
.keyboard .down-container .central-panel .block-1-Esc .btnClassF:first-child {
  padding-left: 1px;
  padding-top: 2px;
}
.keyboard .down-container .central-panel .block-1-Esc .btnClassF:nth-child(14), .keyboard .down-container .central-panel .block-1-Esc .btnClassF:nth-child(15) {
  font-size: 9px;
  padding: 1px;
}
.keyboard .down-container .central-panel .block-1-Esc .btnClassF:nth-child(14) p, .keyboard .down-container .central-panel .block-1-Esc .btnClassF:nth-child(15) p {
  font-size: 7px;
}
.keyboard .down-container .central-panel .block-1-Esc .btnClassF p {
  font-size: 5.5pt;
  color: rgb(98, 190, 243);
}
.keyboard .down-container .central-panel .block-2-Number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2px;
  width: 516px;
  height: 35px;
}
.keyboard .down-container .central-panel .block-2-Number .btnClassStd {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  background-color: rgb(82, 82, 82);
  border: 1px solid grey;
  border-radius: 3px;
  width: 33.5px;
  height: 33px;
  margin-right: 2px;
}
.keyboard .down-container .central-panel .block-2-Number .btnClassStd:first-child {
  width: 24px;
}
.keyboard .down-container .central-panel .block-2-Number .btnClassStd:first-child .column2 {
  align-self: end;
}
.keyboard .down-container .central-panel .block-2-Number .btnClassStd:last-child {
  width: 43px;
  font-size: 8px;
  padding: 9px 0px 0px 2px;
}
.keyboard .down-container .central-panel .block-3-Enter {
  margin-top: 2px;
  width: 516px;
  height: 72px;
  border: 1px solid grey;
}
.keyboard .down-container .central-panel .block-4-Shift {
  margin-top: 2px;
  width: 516px;
  height: 35px;
  border: 1px solid grey;
}
.keyboard .down-container .central-panel .block-5-Space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2px;
  width: 516px;
  height: 35px;
}
.keyboard .down-container .central-panel .block-5-Space p {
  font-size: 8pt;
}
.keyboard .down-container .central-panel .block-5-Space button:first-child {
  border-radius: 3px 3px 3px 15px;
}
.keyboard .down-container .central-panel .block-5-Space button:last-child {
  border-radius: 3px 3px 15px 3px;
}
.keyboard .down-container .central-panel .block-5-Space button:nth-child(2) .column1 {
  background-color: rgb(98, 190, 243);
  padding: 2px;
  border-radius: 3px;
}
.keyboard .down-container .central-panel .block-5-Space button:nth-child(2) .column1 p {
  color: #000;
}
.keyboard .down-container .central-panel .block-5-Space button:nth-child(5) {
  width: 167.5px;
}
.keyboard .down-container .central-panel .block-5-Space button:nth-child(7) .column1 {
  margin-bottom: 2px;
}
.keyboard .down-container .central-panel .block-5-Space button:nth-child(7) .column1 p {
  padding: 1px;
  display: inline-block;
  padding-right: 1px;
  font-size: 10px;
}
.keyboard .down-container .central-panel .block-5-Space button:nth-child(8) .column1 p, .keyboard .down-container .central-panel .block-5-Space button:nth-child(10) .column1 p {
  margin-top: 2px;
}
.keyboard .down-container .central-panel .block-5-Space button:nth-child(9) {
  flex-direction: column;
}
.keyboard .down-container .central-panel .block-5-Space button:nth-child(9) .column1 {
  margin-bottom: 2px;
}
.keyboard .down-container .central-panel .block-5-Space button:nth-child(9) .column1 p {
  padding-right: 1px;
  font-size: 10px;
  display: inline;
}
.keyboard .down-container .central-panel .block-5-Space .btnClassStd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(82, 82, 82);
  border: 1px solid grey;
  border-radius: 3px;
  width: 33.5px;
  height: 33px;
  margin-right: 2px;
}
.keyboard .down-container .mouse-panel {
  margin-top: 20px;
  margin-right: -8px;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 170px;
}
.keyboard .down-container .mouse-panel .mouse-table {
  background-image: url("../assets/abstract.jpg");
  border: 2px grey;
  border-style: solid solid none solid;
  border-radius: 30px 30px 0px 0px;
  height: 130px;
}
.keyboard .down-container .mouse-panel .mouseButtons {
  display: flex;
  flex-direction: row;
  height: 40px;
}
.keyboard .down-container .mouse-panel .mouseButtons .mouseBtnLeft {
  width: 74px;
  background-color: rgb(82, 82, 82);
  border: 2px grey;
  border-style: solid solid inset solid;
  border-radius: 0px 0px 0px 30px;
}
.keyboard .down-container .mouse-panel .mouseButtons .mouseBtnRight {
  background-color: rgb(82, 82, 82);
  border: 2px grey;
  border-style: solid inset inset solid;
  border-radius: 0px 0px 30px 0px;
  margin-left: 2px;
  width: 74px;
}/*# sourceMappingURL=style.css.map */