@import "variable";
@import "mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $colorWhite;
  font-family: "Times New Roman", Times, serif;
  font-size: 9pt;
}

.action {
  visibility: hidden;
}

#activeBtnEnter {
  background-color: $colorGreen;
  border-color: $colorGreen;
}

.wrapper {
  background-image: url(../assets/picture.jpg);
  background-size: 100% auto;
  display: grid;
  grid-template-columns: 1120px 800px;
  grid-template-rows: 350px 730px;
  width: 1920px;
  height: 1080px;
}

.wrapper_game_computer {
  display: flex;
  grid-column: 1;
}

.computer__display {
  box-shadow: 0 0 7px 2px $colorGrey2;
  background-color: $colorBlack;
  border: 2px solid $colorGreen;
  border-radius: 30px;
  margin: 10px 0px 0px;
  padding: 10px 10px 10px;
  width: 700px;
  height: 300px;
}

.display_background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 680px 276px;
  border: 2px solid $colorGreen;
  border-radius: 20px;
  color: $colorBlack;
  border-color: $colorGrey;
  font-size: 16pt;
  width: 680px;
  height: 276px;

  & > input {
    border: 2px solid $colorGrey2;
    border-radius: 7px;
    color: $colorBlack;
    margin-right: 5px;
    font-size: 14pt;
    width: 250px;
    height: 30px;

    &:hover {
      box-shadow: 0 0 2px 2px $colorGrey2;
    }

    &:focus {
      outline: none;
    }
  }

  & > button {
    border: 2px solid $colorGrey2;
    background-color: rgb(203, 228, 215);
    font-weight: 500;
    border-radius: 7px;
    color: $colorBlack;
    font-size: 12pt;
    width: 80px;
    height: 30px;

    &:hover {
      box-shadow: 0 0 2px 2px $colorGrey2;
    }
  }
}

.miniImage {
  width: 104px;
  height: 78px;
  margin: 7px;
  border: 2px solid $colorGrey2;
  border-radius: 7px;
  background-size: auto 78px;
  cursor: pointer;
}

.displayImage_0 {
  background-image: url(../assets/display_background/derevia_gory_les.jpg);
}

.displayImage_1 {
  background-image: url(../assets/display_background/dom_derevia_sneg.jpg);
}

.displayImage_2 {
  background-image: url(../assets/display_background/izgorod_pole_derevia.jpg);
}

.displayImage_3 {
  background-image: url(../assets/display_background/more_kamni_tuman.jpg);
}

.menu_modalDisplayBg {
  position: absolute;
  top: 100px;
  left: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $colorGrey2;
  border-radius: 7px;
  width: 500px;
  height: 100px;
  background-color: rgb(93, 182, 130);

  & > span {
    position: absolute;
    top: -3px;
    right: 5px;
    color: black;
    font-size: 14pt;
    cursor: pointer;
  }
}

.computer__keyboard {
  display: flex;
  flex-direction: column;
  background-color: $colorBlack;
  color: $colorWhite;
  border: 2px solid $colorGreen;
  box-shadow: $boxShadow;
  border-radius: $bordRad;
  margin-top: 0px;
  width: 700px;
  height: 300px;
  cursor: pointer;
}

.keyboard__upPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 660px;
  height: 20px;
  margin: 15px auto;
}

.keyboard__upPanel__leftPanel {
  display: flex;

  .mouseBtn {
    @include btnStdBg-cBrd;
    @include btnActive;
    border-radius: $bordRad;
    width: 26px;
    height: 24px;
    margin-top: -3px;
    padding-top: 2px;
  }

  .soundBtn {
    @include btnStdBg-cBrd;
    @include btnActive;
    margin-left: 25px;
    border-radius: $bordRad 0px 0px $bordRad;
    width: 50px;
  }

  .homeBtn {
    @include btnStdBg-cBrd;
    @include btnActive;
    margin-left: 2px;
    width: 50px;
  }

  .blockBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include btnStdBg-cBrd;
    @include btnActive;
    margin-left: 2px;
    border-radius: 0px $bordRad $bordRad 0px;
    width: 50px;

    & > p {
      font-size: 5.5pt;
    }
  }

  .offBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include btnStdBg-cBrd;
    @include btnActive;
    margin-left: 25px;
    border-radius: $bordRad;
    width: 50px;

    & > p {
      font-size: 5.5pt;
    }
  }
}

.keyboard__upPanel__rightPanel {
  display: flex;
  margin-right: 24px;
  margin-top: 37px;

  .emblem {
    display: flex;
    align-self: flex-end;
    @include btnStnBrd-rad;

    & > p {
      margin-left: 5px;
      font-size: 18pt;
    }
  }
}

.keyboard__downContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 660px;
  height: 210px;
  margin: 15px auto;
}

.keyboard__downContainer__centralPanel {
  display: flex;
  flex-direction: column;
  width: 516px;
  height: 210px;
  margin-left: -8px;
}

.centralPanel__blockEsc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 516px;
  height: 25px;
}

.blockEsc__btnClassF {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  @include btnStdBg-cBrd;
  @include btnStnBrd-rad;
  @include btnActive;
  padding-left: 6px;
  width: 32px;
  height: 23px;
  margin-right: 2px;

  & > p {
    font-size: 5.5pt;
    color: $colorBlue;
  }

  &:first-child {
    padding-left: 1px;
    padding-top: 2px;
  }

  &:nth-child(15),
  &:nth-child(16) {
    font-size: 9px;
    padding: 1px;

    p {
      font-size: 7px;
    }
  }
}

.centralPanel__blockNumbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2px;
  width: 516px;
  height: 35px;
}

.blockNumbers__btnClassStd {
  @include btnStd;
  justify-content: space-around;

  &:first-child {
    width: 24px;

    .column2 {
      align-self: end;
    }
  }

  &:last-child {
    width: 43px;
    font-size: 8px;
    padding: 9px 0px 0px 2px;

    p {
      font-size: 6pt;
    }
  }
}

.centralPanel__containerEnter {
  display: grid;
  grid-template-columns: 1fr 33.5px;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
  margin-top: 2px;
  width: 514px;
  height: 72px;
}

.btnEnter {
  display: grid;
  grid-template-columns: 9.5px 24px;
  grid-template-rows: 33px 1fr;
  grid-column: 2;
  grid-row: 1/3;

  .btnEnter__LU {
    background-color: $colorGrey;
    border-color: grey;
    border-width: 1px;
    border-style: solid none solid solid;
    border-radius: 3px 0 0 3px;
    grid-column: 1;
    grid-row: 1;
  }

  .btnEnter__LD {
    grid-column: 1;
    grid-row: 2;
    z-index: -5;
  }

  .btnEnter__RU {
    background-color: $colorGrey;
    border-color: grey;
    border-width: 1px;
    border-style: solid solid none none;
    border-radius: 0 3px 0 0;
    padding-top: 7px;
    font-size: 9pt;
    grid-column: 2;
    grid-row: 1;

    & > p {
      margin-left: -5px;
    }
  }

  .btnEnter__RD {
    background-color: $colorGrey;
    border-color: grey;
    border-width: 1px;
    border-style: none solid solid solid;
    border-radius: 0 0 3px 3px;
    grid-column: 2;
    grid-row: 2;
  }
}

.centralPanel__blockTab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-column: 1;
  grid-row: 1;
}

.blockTab__btnClassStd {
  @include btnStd;
  justify-content: center;
  align-items: center;

  &:nth-child(1) {
    width: 43px;
    padding-right: 10px;
  }

  &:nth-child(n + 2):nth-child(-n + 11) {
    flex-direction: column;

    .column1 {
      margin-right: 15px;
    }

    .column2 {
      margin-left: 15px;
    }
  }

  &:nth-child(12),
  &:nth-child(13) {
    justify-content: space-evenly;

    .column1 {
      margin-bottom: 3px;
    }

    .column2 {
      margin-top: 12px;
    }
  }

  &:nth-child(13) {
    width: 24px;
  }
}

.centralPanel__blockCapsLock {
  display: grid;
  grid-template-columns: 62px repeat(11, 33.5px) 24px;
  gap: 2px;
  grid-column: 1;
  grid-row: 2;
}

.blockCapsLock__btnClassStd {
  @include btnStd;
  justify-content: center;
  align-items: center;

  &:nth-child(1) {
    display: flex;
    justify-content: space-around;
    padding: 0px 6px;
    width: 62px;

    .column1 {
      font-size: 9pt;
    }

    .column2 {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
      width: 14px;
      height: 14px;
    }
  }

  &:nth-child(n + 2):nth-child(-n + 10) {
    flex-direction: column;

    .column1 {
      margin-right: 13px;
    }

    .column2 {
      margin-left: 13px;
    }
  }

  &:nth-child(11),
  &:nth-child(12),
  &:nth-child(13) {
    justify-content: space-evenly;

    .column1 {
      margin-bottom: 3px;
    }

    .column2 {
      margin-top: 12px;
    }
  }

  &:nth-child(13) {
    width: 32.5px;
    z-index: 1;
  }
}

.centralPanel__blockShift {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2px;
  width: 516px;
  height: 35px;
}

.blockShift__btnClassStd {
  @include btnStd;
  justify-content: center;
  align-items: center;

  &:nth-child(n + 3):nth-child(-n + 9) {
    flex-direction: column;

    .column1 {
      margin-right: 15px;
    }

    .column2 {
      margin-left: 15px;
    }
  }

  &:nth-child(2),
  &:nth-child(10),
  &:nth-child(11) {
    justify-content: space-evenly;

    .column2 {
      margin-top: 14px;
    }
  }

  &:nth-child(12) {
    justify-content: space-evenly;
  }

  &:nth-child(13) {
    flex-direction: column;

    .column1 {
      margin-bottom: 2px;

      p {
        padding-right: 1px;
        font-size: 10px;
        display: inline;
      }
    }
  }
}

.centralPanel__blockSpace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2px;
  width: 516px;
  height: 35px;
}

.blockSpace__btnClassStd {
  @include btnStd;
  justify-content: center;
  align-items: center;

  &:first-child {
    border-radius: 3px 3px 3px 15px;
  }

  &:last-child {
    border-radius: 3px 3px 15px 3px;
  }

  &:nth-child(2) .column1 {
    background-color: $colorBlue;
    padding: 2px;
    @include btnStnBrd-rad;

    p {
      font-size: 7pt;
      color: $colorBlack;
    }
  }

  &:nth-child(5) {
    width: 182px;
  }

  &:nth-child(7) .column1 {
    margin-bottom: 2px;

    p {
      padding: 1px;
      display: inline-block;
      padding-right: 1px;
      font-size: 12px;
    }
  }

  &:nth-child(7) .column2 {
    margin-top: -10px;
  }

  &:nth-child(8) .column1 p,
  &:nth-child(10) .column1 p {
    font-size: 7.5pt;
    margin-top: 2px;
  }

  &:nth-child(9) {
    flex-direction: column;

    .column1 {
      margin-bottom: 2px;

      p {
        padding-right: 1px;
        font-size: 10px;
        display: inline;
      }
    }
  }
}

.keyboard__downContainer__mousePanel {
  margin-top: 20px;
  margin-right: -8px;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 170px;
}

.downContainer__mousePanel__board {
  background-image: url(../assets/abstract.jpg);
  background-size: 100%;
  border: 2px grey;
  border-style: solid solid none solid;
  border-radius: $bordRad $bordRad 0px 0px;
  height: 130px;
}

.downContainer__mousePanel__buttons {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.mousePanel__buttons__left {
  width: 74px;
  background-color: $colorGrey;
  border: 2px grey;
  border-style: solid solid inset solid;
  border-radius: 0px 0px 0px $bordRad;
}

.mousePanel__buttons__right {
  background-color: $colorGrey;
  border: 2px grey;
  border-style: solid inset inset solid;
  border-radius: 0px 0px $bordRad 0px;
  margin-left: 2px;
  width: 74px;
}

.mousePanel__buttons__left,
.mousePanel__buttons__right {
  @include btnActive;
}

.papers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 350px;
  grid-column: 2;
  grid-row: 1;
}

div[class^="note"] {
  position: relative;
  margin: 5px;
  border-radius: 3px;
  width: 170px;
  height: 220px;
  padding: 10px 10px;

  & > p {
    color: $colorGrey;
  }

  &[class$="1"] {
    top: 20px;
    left: 50px;
    transform: rotate(15deg);
    background-color: rgb(241, 241, 117);
  }

  &[class$="2"] {
    top: 120px;
    background-color: rgb(14, 232, 248);
  }

  &[class$="3"] {
    left: -30px;
    transform: rotate(-25deg);

    background-color: rgb(233, 137, 12);
  }

  &[class$="4"] {
    top: 120px;
    left: -80px;
    transform: rotate(35deg);
    background-color: rgb(55, 231, 39);
  }

  .image_1 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 140px;
    left: 45px;
  }

  .image_2 {
    position: absolute;
    width: 68px;
    height: 63px;
    top: 150px;
    left: 50px;
  }

  .image_3 {
    position: absolute;
    width: 51px;
    height: 63px;
    top: 140px;
    left: 50px;
  }

  .image_4 {
    position: absolute;
    width: 51px;
    height: 63px;
    top: 150px;
    left: 50px;
  }
}

.wrapper_menu {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 5px black;
  top: 330px;
  left: 50px;
  width: 310px;
  height: 350px;
  background-color: rgb(189, 103, 117);

  & > p {
    margin: 10px 120px;
    font-size: 20pt;
    color: black;
  }

  & > ul {
    margin: 10px 10px 0px 25px;
    & > li {
      color: black;
      font-size: 14pt;
      text-align: justify;
      padding: 5px;
      list-style-type: square;
      cursor: pointer;
    }
  }
}
